html { 
  background: url(./images/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding-top: 50px;
  background-color: transparent;
  text-align: center;
}

.starter-template {
  padding: 40px 15px;
  color: white;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 0;
  right: 0;
  margin: auto;
}

.h1, p{
  text-shadow: 0 10px 10px rgba(0,0,0,.5);
}

.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent;
}